@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');

body {
   font-family: 'Rubik', sans-serif;
 direction: rtl;
 margin: 0;
}

form {
  width: 95%;
  margin: auto;
}
form label {
  margin-right: 20px;
}

#cpLogo {
  text-align: center;
  margin-top: 10px;
}
